<ion-header>
  <ion-toolbar>
    <ion-title>listado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of productos">
    <ion-text>Nombre: {{item.nombre}} </ion-text>
    <ion-text>Precio: {{item.precio}}</ion-text>
    <div>
      <ion-button [routerLink]="['/detalles', item.key]">Detalles</ion-button>
    </div>
    <!--<div *ngIf="!item.meGusta">-->
      <ion-button (click)="meGusta(item)">Me gusta</ion-button>
    <!--</div>-->

    <!--<div *ngIf="!item.meGusta">-->
      <ion-button (click)="yaNoMeGusta(item)">Ya no me gusta</ion-button>
    <!--</div>-->
  </div>
</ion-content>